<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Greetings</title>
  <link rel="stylesheet"  type="text/css" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>

<body>
  <h1> Cocktails</h1>
  <p class="list">
    <span class='all'><a href= "/">ALL</a></span>
    <% alcoholList.forEach(function(element){ %>
    <span class='<%= element %>'>
      <a href="/?alcohol=<%= element %> ">
        <%= element %>
      </a>
    </span>
    <% }); %>
  </p>
  <table>
    <thead>
      <tr>
        <th class="name">NAME</th>
        <th class="price">PRICE</th>
      </tr>
    </thead>
    <tbody>
      <% renderCocktails.forEach(function(cocktail){ %>
      <tr>
        <% if(cocktail.isAlcoholic){ %>
        <td class="name">
          <%= cocktail.name %> <br>
          <%= cocktail.contains %>
        </td>
        <td class="price">
          <%= cocktail.price %> Ft </td>
        <% } else { %>
        <td class="name">
          <%= cocktail.name %> (non-alcoholic) <br>
          <%= cocktail.contains %>
        </td>
        <td class="price">
          <%= cocktail.price %> Ft </td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>

</html>